body {
  margin: 0;
  padding: 0;
  height: 100%;
}

header {
  background-color: #DBFFCF;
  padding: 50px;
  text-align: center;
}

img {
  width: 100%;
}

h1, h2 {
  text-align: center;
}

main {
  background-color: #CFF3FF;
  padding: 20px;
}

aside {
  background-color: #F3CFFF;
  padding: 20px;
}

h3 {
  margin: 0;
}

footer {
  background-color: #FFDBCF;
  padding: 40px 20px;
}

footer p {
  margin: 0;
}

@supports (display: grid) {

  @media (min-width:641px) {
    body {
      display: grid;
      grid-template-columns: 1fr 2fr;
      grid-template-areas:
        "header header"
        "subheading subheading"
        "heading heading"
        "img img"
        "aside main"
        "footer footer"
    }
    header {
      grid-area: header;
    }

    h1 {
      grid-area: heading;
    }

    h2 {
      grid-area: subheading;
    }

    img {
      grid-area: img;
    }

    aside {
      grid-area: aside;
    }

    main {
      grid-area: main;
    }

    footer {
      grid-area: footer;
    }
  }
}
